altgraph==0.17.4
appdirs==1.4.4
backcall==0.2.0
blinker==1.7.0
click==8.1.7
colorama==0.4.6
decorator==5.1.1
distlib==0.3.8
emoji==2.12.1
filelock==3.13.1
Flask==3.0.3
Flask-Mail==0.9.1
Flask-SQLAlchemy==3.1.1
future==0.18.3
greenlet==3.0.3
gunicorn==22.0.0
ipykernel==6.29.4
ipython==8.25.0
ipython-genutils==0.2.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.4
jupyter-client==8.6.2
jupyter-core==5.7.2
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
parso==0.8.4
pefile==2023.2.7
pickleshare==0.7.5
prompt-toolkit==3.0.43
pygame==2.5.2
Pygments==2.17.2
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.7
python-dateutil==2.8.2
pywin32-ctypes==0.2.2
pyzmq==25.1.2
six==1.16.0
SQLAlchemy==2.0.30
tornado==6.4.1
traitlets==5.14.1
virtualenv==20.25.0
wcwidth==0.2.13
Werkzeug==3.0.3
