<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Minhas Musicas</title>
  </head>
  <body>
    <nav>
      <a href="/">
        <img src=" {{ url_for('static', filename='img/minilogo.png') }} " alt="" />
      </a>

      <ul>
            <li>
                <a href="">Ouvir</a>
            </li>
            <li>
                <a href="/new">Nova Musica</a>
            </li>

      </ul>
    </nav>

    <header id='banner'>
        <div>
            <h1>
                O que você ouve 
                <i class="fa fa-play-circle" aria-hidden="true"></i>
                enquanto programa?
            </h1>
            <h2>Crie aqui sua propria playlist</h2>
        </div>
        <img src="{{ url_for('static', filename='img/img-home.png') }}" alt="">
    </header>

    <section id="playlist">

        <h3>Playlist</h3>

        <table>

            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Artista</th>
                    <th>Player</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <body>
                {% for m in musicas %}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.nome}}</td>
                    <td>{{m.artista}}</td>
                    <td>
                        <audio controls src="{{m.link}}"></audio>
                    </td>
                    <td>
                        <a href="/edit/{{m.id}}">Editar</a>
                        <a href="/delete/{{m.id}}">Apagar</a>
                    </td>
                </tr>
                {% endfor %}
            </body>

        </table>

    </section>

    <footer>
        <hr>
        <p>Todos os direitos reservados: <a target='_blank' href="https://wandersondeve.github.io/Certificard/">WanderDev</a> &copy;</p>
    </footer>

  </body>
</html>
